{
  email aesterialproject@gmail.com
}

aesterial.xyz, www.aesterial.xyz {
  tls {
    issuer acme {
      dir https://acme-v02.api.letsencrypt.org/directory
    }
  }

  encode gzip

  @api path /api/*
  handle @api {
    reverse_proxy backend:8080
  }

  handle {
    reverse_proxy frontend:3000
  }
}
