{
  email admin@example.com
}

example.com, www.example.com {
  tls {
    issuer acme {
      dir https://acme-v02.api.letsencrypt.org/directory
    }
  }

  encode gzip

  @api path /api/*
  handle @api {
    reverse_proxy aesterial_backend:8080
  }

  handle {
    reverse_proxy aesterial_frontend:3000
  }
}
