POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_TLS=disable
COOKIE_NAME=session
COOKIE_SECRET=change-me
COOKIE_ISSUER=https://aesterial.xyz
DEBUG=false
HOST=0.0.0.0
PORT=8080
ALLOWED_ORIGINS=https://aesterial.xyz,https://example.com