POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_TLS=disable
COOKIE_NAME=change_me
COOKIE_SECRET=change_me
COOKIE_ISSUER=http://127.0.0.1
DEBUG=true
HOST=127.0.0.1
PORT=8080
ALLOWED_ORIGINS=https://aesterial.xyz,http://localhost:3000,http://127.0.0.1:3000
EMAIL_API_KEY=
EMAIL_NAME=change_me
EMAIL_DOMAIN=change_me
DOMAIN=https://aesterial.xyz